@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
 font-family: Open Sans, Noto Sans; 
}
#topnav {
 padding: 13px 16px;
 background-color:navy; 
}
#topnav a {
 text-decoration:none;
 color:white;
}
body {
 margin:0px;
}
#maincontent {
 margin:12px;
}
