@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
 font-family: "Open Sans", Noto Sans, sans-serif; 
}
#topnav {
 padding: 13px 16px;
 background-color:navy;
 color:white;
 
}
#topnav a {
 text-decoration:none;
 
}
body {
 margin:0px;
}
#maincontent {
 margin:12px;
}
